/* ALL PAGES */
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-wrapper {
  margin: 0 auto;
  width: 70%;
}

/* HEADER.PHP */
.top-banner {
  background-color: rgb(240, 240, 240);
}

/* FOOTER.PHP */
.footer {
  background-color: black;
  height: 60px;
}

/* LOGIN.PHP */
.login-form>label,input {
  display: block;
}

/* HOME.PHP */
.site-feature {
  background-color: rgb(200, 200, 200);
  padding: 1rem;
  margin: 1rem;
}

<<<<<<< HEAD
/* SELECTORS */
.active {
  background-color: red;
}
=======
/* HOME.PHP */
.profile-info-group p  {
  display: inline;
}
>>>>>>> 9adf92bafb569df5b42c34982070041429bf5aa8
