.active-body {
  fill: red;
}

input {
  box-sizing: border-box;
}

/* ALL PAGES */
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    width: 70%;
  }
}

.validation-error {
  color: red;
}

/* HEADER.PHP */
.top-banner {
  background-color: rgb(240, 240, 240);
  padding-bottom: 0.1rem;
}

/* FOOTER.PHP */
.footer {
  background-color: black;
  height: 60px;
}

/* LOGIN.PHP */
/* .login-form>label,input {
  display: block;
} */

.login-wrapper {
  /* background-image: url("../img/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px; */
  width: 100%;
  margin: 0 auto;
}

/* .login-panel {
  color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
} */

.login-header {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.container-login {
  width: 100%;  
  min-height: 90vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.background-image {
  background-image: url('../img/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrap-login {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  padding: 1rem;
  z-index: 2;
}

.login-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  padding-bottom: 1rem;
}

.form-input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
}

.login-form-btn {
  width: 100%;
}

.login-button {
  display: block;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  height: 60px;
  background:rgb(255, 0, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-button:hover {
  background: #333333;
}

.login-form-link {
  color: white;
}

.register-link {
  color: rgb(225, 0, 0);
}

.input-label {
  display: block;
  color: white;
  padding-bottom: 0.3rem;
}

.input-label.small {
  display: block;
  font-size: 0.6rem;
}



/* HOME.PHP */

.page-background {
  background-image: url("../img/black-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}

.page-background.short-page {
  min-height: 750px;
}

/* SELECTORS */
.active {
  background-color:rgba(0, 0, 0, 0.5);
}

/* .first-row.features img {
  width: 30%;
  display: inline-block;
} */

.first-row-features, .second-row-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.first-row-features {
  padding-bottom: 2rem;
}

.site-feature {
  margin: 0.5rem;
  text-align: center;
  border-bottom: 2px solid white;
  width: 280px;
  flex-grow: 1;
  transition: 0.5s;
  cursor: pointer;
}

.second-row-features .site-feature {
  width: 280px;
}

.site-feature img {
  width: 50%;
}

.muscle-to-muscle img {
  padding-bottom: 4.6rem;
}

.pin-muscle img {
  width: 45%;
  padding-bottom: 1.5rem;
}

.custom-feature img {
  width: 60%;
  padding-bottom: 3.5rem;
}

.golden-ratio img {
  padding-bottom: 2.5rem;
}

.site-feature:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition-duration: 1s;
}

.site-feature:hover .feature-info-img {
  background-color: rgb(245, 245, 245);
  transition-duration: 1s;
}

.site-feature:hover .feature-info {
  color: white;
  transition: 0.5s;
}

.feature-info {
  padding: 0 0.5rem;
  color: white;
}

.feature-info-img {
  padding-top: 1rem;
  background: rgba(255, 255, 255, 0.7);
}

.feature-info.home {
  color: white;
}

/* HOME.PHP */

/* PROFILE.PHP */

.profile-info-group p, .custom-stat-group p {
  display: inline-block;
}

.profile-flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexbox-panel  {
  width: 50%;
}


/* MUSCLETOMUSCLE.PHP */
.muscle-input {
  display: inline;
}

.muscle-converter-form {
  margin: 0 auto;
  width: 60%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
}

.form-header {
  text-align: center;
}

.feature-info.details {
  font-size: 0.8rem;
}

/* CUSTOM.PHP */

.user-stats {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  color: rgb(225, 225, 225);
  margin-bottom: 2rem;
}

.stats-group {
  font-size: 1.2rem;
  display: inline-block;
  width: 48%;
}

.custom-stat-group.custom-btn {
  margin-top: 1rem;
}


/* GOLDENRATIO.PHP */

.ratio-form {
  color: rgb(225, 225, 225);
  text-align: center;
}

.ratio-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;
}

.ratio-table tr {
  border-bottom: 1px solid rgb(100, 100, 100);
  font-size: 1.1rem;
  height: 40px;
}

/* PROFILEHISTORY.PHP */
.progress-pic {
  width: 100%;
  max-width: 300px;
}

.enlarged-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: 1;
}

.thumbnail-pic {
  width: 200px;
  height: 200px;
  transition: 1;
}


/* https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* Modal CSS */
#imgModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 70%;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

td {
  padding: 0.25rem;
}

#pinBodyPart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.bodybuilder-list {
  flex-grow: 1;
  color: white;
  min-width: 350px;
}

.bodybuilder-name-list {
  padding-top: 0.5rem;
  text-align: center;
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.bodybuilder-name-list:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 1s;
}

.form-submit {
  margin-top: 1rem;
  padding: 0;
}

.form-submit:hover {
  border-bottom: 0px;
  border-bottom: 2px solid black;
}

.form-submit input{
  font-size: 1.5rem;
  background-color: rgb(255,0, 0);
  padding: 1rem;
  color: white;
  height: 100%;
  width: 100%;
  border: 0;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.form-submit input:hover {
  color: white;
  background-color: #333333;
  transition-duration: 1s;
}

/* NAVIGATION_BOTTOM.PHP */

.nav-bottom {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.nav-bottom.short-page {
  margin-top: 5rem;
}

.nav-feature {
  border: 1px solid white;
  border-radius: 2px;
  margin: 0.5rem;
  min-width: 150px;
  padding: 2rem 1rem;
  flex: 1;
}

.nav-feature:hover {
  background-color: rgb(255, 0, 0);
  transition: 1s;
}

