/* ALL PAGES */
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    width: 70%;
  }
}

.validation-error {
  color: red;
}

/* HEADER.PHP */
.top-banner {
  background-color: rgb(240, 240, 240);
}

/* FOOTER.PHP */
.footer {
  background-color: black;
  height: 60px;
}

/* LOGIN.PHP */
.login-form>label,input {
  display: block;
}

/* HOME.PHP */

/* .feature-info-flex2 {
  width: 25%;
}  */


/* .frankenstein img {
  width: 35%;
} */

/* .frankenstein .feature-info {
  padding-top: 1.5rem;
}

.golden-ratio .feature-info {
  padding-top: 1rem;
}

.muscle-to-muscle .feature-info {
  padding-top: 2rem;
} */

/* SELECTORS */
.active {
  background-color: red;
}

/* .first-row.features img {
  width: 30%;
  display: inline-block;
} */

.first-row-features, .second-row-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.first-row-features {
  padding-bottom: 2rem;
}

.site-feature {
  margin: 0.5rem;
  text-align: center;
  border-bottom: 2px solid black;
  width: 280px;
  flex-grow: 1;
  transition: 0.5s;
}

.second-row-features .site-feature {
  width: 280px;
}

.site-feature img {
  width: 50%;
}

.muscle-to-muscle img {
  padding-bottom: 4.6rem;
}

.pin-muscle img {
  width: 45%;
  padding-bottom: 1.5rem;
}

.custom-feature img {
  width: 60%;
  padding-bottom: 3.5rem;
}

.golden-ratio img {
  padding-bottom: 2.5rem;
}

.site-feature:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition-duration: 1s;
}

.site-feature:hover .feature-info-img {
  background-color: rgb(245, 245, 245);
  transition-duration: 1s;
}

.site-feature:hover .feature-info {
  color: white;
  transition: 0.5s;
}

.feature-info {
  padding: 0 0.5rem;
}

.feature-info-img {
  padding-top: 1rem;
}




/* .first-row-features .site-feature {
  width: 46%;
  display: inline-block;
}

.second-row-features .site-feature {
  width: 29%;
  display: inline-block;
} */
/* HOME.PHP */

/* PROFILE.PHP */

.profile-info-group p, .custom-stat-group p {
  display: inline-block;
}

.profile-flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexbox-panel  {
  width: 50%;
}


/* MUSCLETOMUSCLE.PHP */
.muscle-input {
  display: inline;
}

/* PROFILEHISTORY.PHP */
.progress-pic {
  width: 100%;
  max-width: 300px;
}

.enlarged-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: 1;
}

.thumbnail-pic {
  width: 200px;
  height: 200px;
  transition: 1;
}


/* https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* Modal CSS */
#imgModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 70%;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

td {
  padding: 0.25rem;
}
